.formField {
    margin-bottom: 10px; /* Ustaw odstęp między polami */
  }

  .tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tab {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .tab:hover {
    background: #f0f0f0;
  }
  
  .tab.active {
    background: #f0f0f0;
    border-bottom: 2px solid #007bff;
    font-weight: bold;
  }

  .final-price-normal {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
  }

  .final-price {
    text-align: right;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .table-container {
    width: 100%; /* Zajmuje pełną szerokość rodzica */
    max-width: 100%; /* Maksymalna szerokość nie przekracza kontenera modal */
    height: 40vh; /* Dynamiczna wysokość */
    max-height: 40vh; /* Maksymalna wysokość w odniesieniu do wysokości ekranu */
    overflow-x: auto; /* Poziomy scroll dla szerokich tabel */
    border-radius: 8px; /* Zaokrąglone rogi */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Delikatny cień dla lepszego wyglądu */
    border: 1px solid #ddd; /* Subtelna ramka */
    background-color: #ffffff; /* Tło dla tabeli */
  }
  
  .submit-button:hover {
    background-color: #b45017; /* Ciemniejszy odcień na hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtelny cień */
  }


  @media (max-width: 768px) {
  .formField {
    margin-bottom: 16px;
  }

  /* Responsywna tabela */
  .servicesTable {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .final-price-normal {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
  }

  .final-price {
    text-align: right;
    margin-bottom: 10px;
    margin-top: 0;
  }
}